body {
	max-width: 100%;
}

div.tabs {}

div.tabs ul {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}

div.tabs ul li {
	float: left;
	width: 50%;
	line-height: 44px;
	text-align: center;
	background-color: #F7F7F7;
	border-bottom: 1px solid #D6D6D6;
	cursor: pointer;
}

div.tabs ul li:active {
	background-color: #F7F7F7;
}

div.tabs ul li span.active {
	position: relative;
	color: #c60a1e
}

div.tabs ul li span.active:before {
	content: '';
	position: absolute;
	bottom: -14px;
	left: -2px;
	right: -2px;
	border-bottom: 2px solid #c60a1e;
}

div.inputCheck {
	padding: 20px 20px 0;
}

div.shortcut {
	display: none;
}

div.inputCheck ul li {
	height: 52px;
	line-height: 52px;
	border-bottom: 1px solid #dddddd;
	font-size: 16px;
	display: flex;
	flex-direction: row;
	position: relative;
}

div.inputCheck ul li i {
	display: none;
	position: absolute;
	right: 15px;
	top: 20px;
	font-size: 16px;
	color: #DDDDDD
}

div.inputCheck ul li i.phoneShortcut {
	right: 115px;
}

div.inputCheck ul li span {
	float: left;
	display: block;
}

div.inputCheck ul li span.label {
	width: 23%;
	min-width: 50px;
	/*white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;*/
}

div.inputCheck ul li span.country {
	width: 77%;
	position: relative;
	text-indent: 15px;
}

div.inputCheck ul li span.country:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 20px;
	left: 0;
	top: 50%;
	margin-top: -10px;
	background-color: #ddd;
}

div.inputCheck ul li span.country:after {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	right: 15px;
	top: 50%;
	margin-top: -7px;
	border-top: 2px solid #cacaca;
	border-right: 2px solid #cacaca;
	/*-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);*/
	transform: rotate(45deg);
}

div.inputCheck ul li input {
	flex: 1;
	min-width: 45%;
	border: none;
	font-size: 16px;
	/*padding: 0 44px 0 15px;*/
	outline: none;
}

div.inputCheck ul li div.getVerify {
	min-width: 80px;
	font-size: 14px;
	color: #333;
	text-align: center;
	position: relative;
}

div.inputCheck ul li div.getVerify a{
	color: #4384d8;
}

div.inputCheck ul li div.getVerify:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 20px;
	left: -15px;
	top: 50%;
	margin-top: -10px;
	background-color: #ddd;
}

div.protocol label {
	position: relative;
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 1px solid #ccc;
	vertical-align: top;
	margin: 3px 5px 0 0;
	border-radius: 2px;
}

div.protocol label.checked {
	border: 1px solid #ee6723;
}

div.protocol label.checked:after {
	content: '';
	position: absolute;
	left: 3px;
	top: 0;
	display: block;
	width: 3px;
	height: 6px;
	border-bottom: 1px solid #ee6723;
	border-right: 1px solid #ee6723;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

div.protocol {
	margin-top: 10px;
	font-size: 12px;
	color: #9a9a9a;
}

div.protocol a {
	color: #4384d8;
}

div.button {
	padding: 20px 0 10px;
}

button {
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	text-align: center;
	border-radius: 4px;
	border: none;
	background: #C60A1E;
	opacity: 0.4;
	color: #FFFFFF;
	font-size: 18px;
}

p.assist {
	text-align: right;
}

p.assist a {
	font-size: 12px;
	color: #4384d8;
	vertical-align: middle;
}