/*订单中心css*/
html{
	background: #f0f0f0;
}

body{
	margin: 0 auto;
	background: #FFFFFF;
}

header{
	height: 44px;
	line-height: 44px;
	background: #FFFFFF;
	color: #222222;
	background: url(../img/logo.png)no-repeat 20px center;
	background-size: 44px;
	padding: 0 20px;
}

header img.logo{
	width: 44px;
}

header div{
	font-size: 16px;
}

header i.fa{
	font-size: 20px;
}

section.userStatus{
	height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

section button{
	width: 140px;
	height: 40px;
	border: none;
	border-radius: 2px;
	background-color: #c60a1e;
	font-size: 16px;
	color: #FFFFFF;
}
