/*收银台-支付成功css*/

body {
	display: none;
	max-width: 100%;
	margin: 0 auto;
	/*background-color: #EEEEEE;*/
}

header {
	/*position: fixed;
	top: 0;*/
	width: 100%;
	height: 44px;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	background: url(../../img/logo.png)no-repeat 45px center;
	background-size: 50px;
	background-color: #f7f7f7;
	z-index: 999;
	padding-right: 36px;
	border-bottom: 1px solid #E5E5E5;
}

header a.back {
	font-size: 14px;
	color: #888;
	padding-left: 20px;
}

section {
	background: #FFFFFF;
	text-align: center;
	padding: 60px 0 20px;
}

section img{
	margin: 10px auto;
	width: 40px;
	height: 40px;
}

section h3 {
	text-align: center;
	line-height: 30px;
}

section p{
	text-align: center;
	font-size: 18px;
	margin: 20px 0;
}

section div {
	width: 100%;
	line-height: 40px;

}

section div span.sp1 {
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	margin:10px 0 0 calc(50% - 45px);
	background: url(../../img/star_off.png)no-repeat center center;
	background-size: 20px 20px;
	cursor: pointer;
}

section div span.sp1.active {
	background: url(../../img/star_on.png) no-repeat center center;
	background-size: 20px 20px;
}

section div span.sp2 {
	float: left;
	margin-left: 5px;
}

section button.check_order {
	display: block;
	width: 100px;
	height: 30px;
	color: #666666;
	line-height: 30px;
	border: 1px solid #EEEEEE;
	border-radius: 6px;
	background: #FFFFFF;
	margin: 50px auto 0;
	cursor: pointer;
	padding: 0;
}
