<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>收货地址</title>
		<link rel="icon" href="../../static/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/client/address.css" />
	</head>

	<body>
		<header>
			<i class="iconfont icon-back left"></i>我的地址
		</header>

		<section>
			<ul>
				<li>
					<div class="content">
						<p>
							<span class="consignee">诚诚</span>
							<span class="tel right">15555555538</span>
						</p>
						<p class="area">地球村中国庄江苏生产队</p>
					</div>
					<div class="operation">
						<i class="iconfont icon-radio"></i>
						<span>默认地址</span>
						<i class="iconfont icon-shanchu1 right"></i>
						<span class="sp1 right"></span>
						<i class="iconfont icon-bianji right"></i>
					</div>
				</li>
				<li>
					<div class="content">
						<p>
							<span class="consignee">不知名主播</span>
							<span class="tel right">15555555538</span>
						</p>
						<p class="area">地球村中国庄江苏生产队</p>
					</div>
					<div class="operation">
						<i class="iconfont icon-radio"></i>
						<span>默认地址</span>
						<i class="iconfont icon-shanchu1 right"></i>
						<span class="sp1 right"></span>
						<i class="iconfont icon-bianji right"></i>
					</div>
				</li>
				<li>
					<div class="content">
						<p>
							<span class="consignee">不知名主播</span>
							<span class="tel right">15555555538</span>
						</p>
						<p class="area">地球村中国庄江苏生产队</p>
					</div>
					<div class="operation">
						<i class="iconfont icon-radio"></i>
						<span>默认地址</span>
						<i class="iconfont icon-shanchu1 right"></i>
						<span class="sp1 right"></span>
						<i class="iconfont icon-bianji right"></i>
					</div>
				</li>
				<li>
					<div class="content">
						<p>
							<span class="consignee">不知名主播</span>
							<span class="tel right">15555555538</span>
						</p>
						<p class="area">地球村中国庄江苏生产队</p>
					</div>
					<div class="operation">
						<i class="iconfont icon-radio"></i>
						<span>默认地址</span>
						<i class="iconfont icon-shanchu1 right"></i>
						<span class="sp1 right"></span>
						<i class="iconfont icon-bianji right"></i>
					</div>
				</li>
				<li>
					<div class="content">
						<p>
							<span class="consignee">不知名主播</span>
							<span class="tel right">15555555538</span>
						</p>
						<p class="area">地球村中国庄江苏生产队</p>
					</div>
					<div class="operation">
						<i class="iconfont icon-radio"></i>
						<span>默认地址</span>
						<i class="iconfont icon-shanchu1 right"></i>
						<span class="sp1 right"></span>
						<i class="iconfont icon-bianji right"></i>
					</div>
				</li>
			</ul>
		</section>

		<footer>
			<span>添加新地址</span>
		</footer>

		<script src="../../js/common/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/effect.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/client/address.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>