<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>收藏商品</title>
		<link rel="icon" href="../../static/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/client/goods_collection.css" />
	</head>

	<body>
		<header>
			<i class="iconfont icon-back left"></i>收藏商品
			<span class="edit right">编辑</span>
		</header>
		
		<section>
			<ul>
				<li>
					<div class="chk">
						<input type="checkbox" id="checkbox_1" class="son_check">
						<label for="checkbox_1"></label>
					</div>
					<img src="../../img/goods1.jpg" alt="" class="goods_img" />
					<div class="content">
						<p class="name">大馒头</p>
						<p class="price">¥<a>66.66</a></p>
					</div>
				</li>
				<li>
					<div class="chk">
						<input type="checkbox" id="checkbox_2" class="son_check">
						<label for="checkbox_2"></label>
					</div>
					<img src="../../img/goods1.jpg" alt="" class="goods_img" />
					<div class="content">
						<p class="name">大馒头</p>
						<p class="price">¥<a>66.66</a></p>
					</div>
				</li>
				<li>
					<div class="chk">
						<input type="checkbox" id="checkbox_3" class="son_check">
						<label for="checkbox_3"></label>
					</div>
					<img src="../../img/goods1.jpg" alt="" class="goods_img" />
					<div class="content">
						<p class="name">大馒头</p>
						<p class="price">¥<a>66.66</a></p>
					</div>
				</li>
				<li>
					<div class="chk">
						<input type="checkbox" id="checkbox_4" class="son_check">
						<label for="checkbox_4"></label>
					</div>
					<img src="../../img/goods1.jpg" alt="" class="goods_img" />
					<div class="content">
						<p class="name">大馒头</p>
						<p class="price">¥<a>66.66</a></p>
					</div>
				</li>
				<li>
					<div class="chk">
						<input type="checkbox" id="checkbox_5" class="son_check">
						<label for="checkbox_5"></label>
					</div>
					<img src="../../img/goods1.jpg" alt="" class="goods_img" />
					<div class="content">
						<p class="name">大馒头</p>
						<p class="price">¥<a>66.66</a></p>
					</div>
				</li>
			</ul>
		</section>
		
		<footer>
			<div class="all_check">
				<!--所有商品全选-->
				<input type="checkbox" id="all" class="whole_check">
				<label for="all"></label>
				<p>全选</p>
			</div>
			<div class="settle_accounts">
				<p class="total">已选择<a>0</a>个商品</p>
				<span class="to_delete">删除</span>
			</div>
		</footer>
		
		<script src="../../js/common/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/effect.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/client/goods_collection.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>