<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>收藏店铺</title>
		<link rel="icon" href="../../static/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/client/shop_collection.css" />
	</head>

	<body>
		<header>
			<i class="iconfont icon-back left"></i>收藏店铺
		</header>
		
		<section>
			<ul>
				<li>
					<img src="../../img/goods2.jpg" alt="" class="shop_logo" />
					<div class="content">
						<p class="name">金陵味道</p>
						<p class="num">销量<a>6</a></p>
						<p class="goods">
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
						</p>
					</div>
					<div class="new">
						<p class="p1"><i class="iconfont icon-aixin"></i></p>
						<p class="p2">8</p>
						<p class="p3">上新</p>
					</div>
				</li>
				<li>
					<img src="../../img/goods2.jpg" alt="" class="shop_logo" />
					<div class="content">
						<p class="name">金陵味道</p>
						<p class="num">销量<a>6</a></p>
						<p class="goods">
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
						</p>
					</div>
					<div class="new">
						<p class="p1"><i class="iconfont icon-aixin"></i></p>
						<p class="p2">8</p>
						<p class="p3">上新</p>
					</div>
				</li>
				<li>
					<img src="../../img/goods2.jpg" alt="" class="shop_logo" />
					<div class="content">
						<p class="name">金陵味道</p>
						<p class="num">销量<a>6</a></p>
						<p class="goods">
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
						</p>
					</div>
					<div class="new">
						<p class="p1"><i class="iconfont icon-aixin"></i></p>
						<p class="p2">8</p>
						<p class="p3">上新</p>
					</div>
				</li>
				<li>
					<img src="../../img/goods2.jpg" alt="" class="shop_logo" />
					<div class="content">
						<p class="name">金陵味道</p>
						<p class="num">销量<a>6</a></p>
						<p class="goods">
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
							<img src="../../img/goods1.jpg" alt="" />
						</p>
					</div>
					<div class="new">
						<p class="p1"><i class="iconfont icon-aixin"></i></p>
						<p class="p2">8</p>
						<p class="p3">上新</p>
					</div>
				</li>
			</ul>
		</section>
		
		<script src="../../js/common/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/effect.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>