/*个人信息css*/

body {
	display: none;
	margin: 0 auto;
	background-color: #EEEEEE;
}

header {
	width: 100%;
	max-width: 640px;
	height: 44px;
	font-size: 16px;
	line-height: 44px;
	text-align: center;
	background: url(../../img/logo.png)no-repeat 40px center;
	background-size: 50px;
	background-color: #FFFFFF;
	z-index: 999;
	padding-right: 38px;
}

header i.icon-back {
	color: #707070;
	text-align: left;
	padding-left: 22px;
}

section {
	margin-top: 10px;
	background-color: #FFFFFF;
	color: #404040;
	padding: 0 15px;
}

section div.remaining_time {
	border-bottom: 1px solid #EEEEEE;
	padding: 20px 0;
}

section div.remaining_time h5 {
	font-size: 16px;
	margin-bottom: 10px;
}

section div.remaining_time p,
section div.remaining_time p a {
	font-size: 12px;
	color: #888;
}

section div.refund_detail {
	border-bottom: 1px solid #EEEEEE;
	padding: 20px 0;
}

section div.refund_detail p {
	font-size: 16px;
	line-height: 50px;
}

section div.refund_detail p.money span,
section div.refund_detail p.money a {
	color: #FF1B4B;
}

section div.btn {
	padding: 5px 0 20px;
}

section div.btn p {
	font-size: 12px;
	color: #888;
	margin-bottom: 30px;
}

section div.btn button {
	background-color: #FFFFFF;
	border: 1px solid #999;
	padding: 5px 15px;
	margin-left: 10px;
	border-radius: 3px;
}