<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>登录/注册</title>
		<link rel="stylesheet" type="text/css" href="../../static/font-awesome-4.7.0/css/font-awesome.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/entry_chose.css" />
	</head>

	<body>
		<div class="userChose">
			<h5>使用微信登录</h5>
			<ul>
				<li class="weixin"><i class="fa fa-weixin" aria-hidden="true"></i>&nbsp;&nbsp;微信登录</li>
			</ul>
			<h5>或使用微店账号，若是微店卖家可直接登录</h5>
			<ul>
				<li>
					<a href="login.html">登录</a>
				</li>
				<li>
					<a href="register.html">注册</a>
				</li>
			</ul>
		</div>

	</body>

</html>