<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>退款/售后</title>
		<link rel="icon" href="../../static/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/order/refund_detail.css" />
	</head>

	<body>
		<header>
			<i class="iconfont icon-back left"></i>退款/售后
		</header>
		
		<section>
			<div class="remaining_time">
				<h5>买家申请退款，等待商家处理</h5>
				<p><a>6天23时59分</a>后系统自动退款</p>
			</div>
			
			<div class="refund_detail">
				<p>售后原因 : <span>其他原因</span></p>
				<p class="money">商品退款 : <span>¥</span><a>66.66</a></p>
				<p>申请退款时间 : <span>2017-11-24 23:59:59</span></p>
			</div>

			<div class="btn clearfix">
				<p>售后申请的修改次数有限，请谨慎使用</p>
				<button class="right">取消售后</button>
				<button class="right">修改售后</button>
			</div>
		</section>
		
		<script src="../../js/common/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/effect.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>