<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>退款/售后</title>
		<link rel="icon" href="../../static/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/order/deal_list.css" />
	</head>

	<body>
		<header>
			<i class="iconfont icon-back left"></i>退款/售后
		</header>

		<section>
			<ul>
				<li>
					<div class="title">
						<i class="iconfont icon-dianpu"></i>
						<span>紫鼎汇</span>
						<i class="iconfont icon-right"></i>
						<a class="right">待退款</a>
					</div>
					<div class="content">
						<img src="../../img/goods1.jpg" />
						<div>
							<p>一直很大只的烤鸭</p>
							<p class="model">五斤装</p>
						</div>
					</div>
					<div class="content">
						<img src="../../img/goods1.jpg" />
						<div>
							<p>一直很大只的烤鸭</p>
							<p class="model">五斤装</p>
						</div>
					</div>
					<p class="total">退款总金额 : <span>¥</span>
						<a>666.66</a>
					</p>
				</li>
				<li>
					<div class="title">
						<i class="iconfont icon-dianpu"></i>
						<span>徐州烧烤</span>
						<i class="iconfont icon-right"></i>
						<a class="right">待售后</a>
					</div>
					<div class="content">
						<img src="../../img/goods1.jpg" />
						<div>
							<p>烤羊排</p>
							<p class="model">1斤装</p>
						</div>
					</div>
					<p class="total">退款总金额 : <span>¥</span>
						<a>666.66</a>
					</p>
				</li>
			</ul>
		</section>

		<script src="../../js/common/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/effect.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>