<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>订单详情</title>
		<link rel="icon" href="../../static/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/order/order_detail.css" />
	</head>

	<body>
		<header>
			<i class="iconfont icon-back left"></i>订单详情
			<span class="right"><a href="orderCentrality.html">订单中心</a></span>
		</header>
		
		<div class="order_status">
			<p class="p1">等待商家发货</p>
			<!--<p class="p2">30分钟后自动关闭订单</p>-->
		</div>
		
		<div class="address">
			<p class="customer">
				<i class="iconfont icon-dizhi"></i>
				<span>郑老板</span>
				<span>15555388690</span>
			</p>
			<p class="address_detail">江苏省 南京市 栖霞区 紫东国际创意园区 A3-307</p>
		</div>
		
		<section>
			<div class="goods_title">
				<div class="shop">
					<i class="iconfont icon-dianpu"></i>
					<span class="shop_name">金陵味道金陵味道金陵味道道</span>
					<i class="iconfont icon-right"></i>
				</div>
			</div>
			<ul>
				<li>
					<img src="../../img/goods1.jpg" class="goods_img" />
					<div class="content">
						<p>四川安岳柠檬一级果产地现摘现发多种规格包邮</p>
						<p class="model">型号
							<a>3斤装</a>
						</p>
					</div>
					<div class="num">
						<p class="price">¥<span>25.00</span></p>
						<p class="buy_num">×<span>1</span></p>
					</div>
				</li>
				<li>
					<img src="../../img/goods1.jpg" class="goods_img" />
					<div class="content">
						<p>四川安岳柠檬一级果产地现摘现发多种规格包邮</p>
						<p class="model">型号
							<a>3斤装</a>
						</p>
					</div>
					<div class="num">
						<p class="price">¥<span>25.00</span></p>
						<p class="buy_num">×<span>1</span></p>
					</div>
				</li>
			</ul>
			<div class="gather clearfix">
				<p class="p1"><span class="left">商品金额</span><span class="price right">¥<a>498.60</a></span></p>
				<p class="p2"><span class="left">邮费</span><span class="price right">¥<a>10</a></span></p>
				<p class="p3">实付款 : <span> ¥ <a>498.60</a></span></p>
			</div>
			
			<div class="contact">
				<i class="iconfont icon-phone"></i>
				拨打卖家电话
			</div>
		</section>
		
		<div class="data_detail">
			<p>订单编号 : <span>800443970559564</span></p>
			<p>付款方式 : <span>支付宝支付</span></p>
			<p>下单账号 : <span>郑老板</span></p>
			<p>下单时间 : <span>2017-12-08 09:59:13</span></p>
			<p>付款时间 : <span>2017-12-08 09:59:13</span></p>
		</div>
		
		<!--<footer>
			<button class="right">删除订单</button>
		</footer>-->
		
		<script src="../../js/common/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/effect.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>