<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>订单中心</title>
		<link rel="stylesheet" type="text/css" href="../../static/font-awesome-4.7.0/css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/order/orderCentrality.css" />
	</head>

	<body>
		<header>
			<div class="right"><i class="iconfont icon-lianxi"></i>| 设置</div>
		</header>
		<section class="user_status">
			<button>登录/注册</button>
		</section>
		
		<section class="order">
			<div class="my_order">
				<span>我的订单</span>
				<span class="right-arrow right"></span>
				<a class="right">查看全部订单</a>
			</div>
		</section>
		<nav>
			<ul>
				<li><i class="iconfont icon-daifukuan"></i><p>待付款</p></li>
				<li><i class="iconfont icon-daishouhuo"></i><p>待发货</p></li>
				<li><i class="iconfont icon-daishouhuo1"></i><p>待收货</p></li>
				<li><i class="iconfont icon-daipingjia"></i><p>待评价</p></li>
				<li><i class="iconfont icon-shouhou"></i><p>退款/售后</sp></li>
			</ul>
		</nav>
		
		<div class="other_more">
			<ul>
				<li><i class="iconfont icon-shangpin"></i><p>收藏商品</p></li>
				<li><i class="iconfont icon-dianpu"></i><p>收藏商铺</p></li>
				<li><i class="iconfont icon-gouwuchekong"></i><p>购物车</p></li>
				<li><i class="iconfont icon-shouhuodizhi"></i><p>收货地址</p></li>
			</ul>
		</div>
	</body>

</html>