<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>店铺首页</title>
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/goods/index.css" />
	</head>

	<body>
		<header>
			<div class="right">
				<img src="../../img/head.jpg" alt="" class="head" />
				<span>|</span>
				<i class="iconfont icon-gouwuchekong"></i>
				<span>|</span>
				<a href="entry/entry_chose.html">登录</a>
			</div>
		</header>
		<div class="banner">
			<img src="../../img/goods2.jpg" alt="" class="front_img" />
		</div>
		<div class="info">
			<div class="title">
				<img src="../../img/head.jpg" alt="" class="master_img" />
				<p><span>点盈小卖部</span>30分钟前登陆</p>
			</div>
			<ul>
				<li><h5>23.08%</h5><p>复购率</p></li>
				<li><h5>666</h5><p>收藏人数</p></li>
				<li><h5>23.08%</h5><p>复购率</p></li>
			</ul>
			<p class="note">店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长笔记店长</p>
			<p class="show_all">查看全部简介</p>
		</div>
		<div class="classify">
			<div class="goods">
				<h3>鞋类</h3>
				<ul class="clearfix">
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
				</ul>
			</div>

			<div class="goods">
				<h3>玩具</h3>
				<ul class="clearfix">
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
					<li>
						<img src="../../img/goods3.jpg" class="goodsImg" />
						<h5>商品名称</h5>
						<p class="price">666.66</p>
						<p class="sale_num">销量<a>6</a></p>
					</li>
				</ul>
			</div>
			
		</div>
		<div class="show_all_goods">
			<a href="">查看全部商品 ...</a>
		</div>
		<footer>
			<ul>
				<li class="classify_nav">
					<i class="iconfont icon-fenlei"></i>
					<p>分类</p>
				</li>
				<li>
					<i class="iconfont icon-faxian"></i>
					<p>发现</p>
				</li>
				<li>
					<i class="iconfont icon-lianxi"></i>
					<p>联系</p>
				</li>
				<li class="collect">
					<i class="iconfont icon-shoucang"></i>
					<p>收藏</p>
				</li>
			</ul>
		</footer>
		
		<nav>
			<div id="nav_main">
				<i class="iconfont icon-youhua"></i>
				<div style="height:100%;overflow-y: scroll;">
					<div class="classify_guide">
						<h5>分类1<i class="iconfont icon-right"></i></h5>
						<ul>
							<li><a href="">分类1.1</a></li>
							<li><a href="">分类1.2</a></li>
							<li><a href="">分类1.3</a></li>
							<li><a href="">分类1.4</a></li>
							<li><a href="">分类1.5</a></li>
						</ul>
					</div>
					<div class="classify_guide">
						<h5>分类2<i class="iconfont icon-right"></i></h5>
						<ul>
							<li><a href="">分类2.1</a></li>
							<li><a href="">分类2.2</a></li>
							<li><a href="">分类2.3</a></li>
							<li><a href="">分类2.4</a></li>
							<li><a href="">分类2.5</a></li>
						</ul>
					</div>
					<div class="classify_guide">
						<h5>分类3<i class="iconfont icon-right"></i></h5>
						<ul>
							<li><a href="">分类3.1</a></li>
							<li><a href="">分类3.2</a></li>
							<li><a href="">分类3.3</a></li>
							<li><a href="">分类3.4</a></li>
							<li><a href="">分类3.5</a></li>
						</ul>
					</div>
					<div class="classify_guide">
						<h5>分类4<i class="iconfont icon-right"></i></h5>
						<ul>
							<li><a href="">分类4.1</a></li>
							<li><a href="">分类4.2</a></li>
							<li><a href="">分类4.3</a></li>
							<li><a href="">分类4.4</a></li>
							<li><a href="">分类4.5</a></li>
						</ul>
					</div>
					<div class="classify_guide">
						<h5>分类5<i class="iconfont icon-right"></i></h5>
						<ul>
							<li><a href="">分类5.1</a></li>
							<li><a href="">分类5.2</a></li>
							<li><a href="">分类5.3</a></li>
							<li><a href="">分类5.4</a></li>
							<li><a href="">分类5.5</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</nav>
		
		<script src="../../js/common/jquery-3.0.0.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/common/effect.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/goods/index.js" type="text/javascript" charset="utf-8"></script>
	</body>

</html>