<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="format-detection" content="email=no" />
		<meta name="apple-touch-fullscreen" content="yes" />
		<title>确认购买</title>
		<link rel="icon" href="../../static/logo.ico" />
		<link rel="stylesheet" type="text/css" href="../../static/icon_font/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../css/goods/purchase.css" />
	</head>

	<body>
		<!--头部-->
		<header>
			<a class="back left"><i class="iconfont icon-back"></i></a>
			确认购买
		</header>
		<!--收货地址-->
		<div class="address">
			<p class="tel">
				<i class="iconfont icon-dizhi"></i>
				<span>郑老板</span>
				<a>15555388690</a>
			</p>
			<p class="area">
				<span class="sp1">[默认]</span>
				<span class="detail">江苏南京市栖霞区城区紫东国际创意园区A3-307</span>
			</p>
		</div>

		<!--各店铺商品-->
		<section>
			<div class="title">
				<i class="iconfont icon-dianpu"></i> 金陵味道
			</div>

			<div class="content">
				<img src="../../img/goods1.jpg" class="goods_img" />
				<p class="info">广东河源正宗农家野菜产地直销送礼首选绿色天然有机蔬菜</p>
				<div>
					<p class="goods_price">¥
						<a>11.00</a>
					</p>
					<p class="goods_num">x
						<a>1</a>
					</p>
				</div>
			</div>
			
			<div class="content">
				<img src="../../img/goods1.jpg" class="goods_img" />
				<p class="info">广东河源正宗农家野菜产地直销送礼首选绿色天然有机蔬菜</p>
				<div>
					<p class="goods_price">¥
						<a>11.00</a>
					</p>
					<p class="goods_num">x
						<a>1</a>
					</p>
				</div>
			</div>
			
			<div class="content">
				<img src="../../img/goods1.jpg" class="goods_img" />
				<p class="info">广东河源正宗农家野菜产地直销送礼首选绿色天然有机蔬菜</p>
				<div>
					<p class="goods_price">¥
						<a>11.00</a>
					</p>
					<p class="goods_num">x
						<a>1</a>
					</p>
				</div>
			</div>
			<p class="trans_price">运费<i class="iconfont icon-zhuyi"></i><span class="sp1">（含按重量计算的商品）</span><span class="sp2 right">¥<a>11.00</a></span></p>

			<div class="message">
				<label for="">留言</label>
				<input type="" name="" id="" value="" placeholder="给卖家留言" /><br />
				<label for="">微信号</label>
				<input type="" name="" id="" value="" placeholder="方便卖家与你联系" />
			</div>

			<p class="shop_total">共
				<a class="goods_num">1</a>件商品 合计：<span>¥</span>
				<a class="shop_price">11.00</a>
			</p>
		</section>

		<section>
			<div class="title">
				<i class="iconfont icon-dianpu"></i> 金陵味道
			</div>

			<div class="content">
				<img src="../../img/goods1.jpg" class="goods_img" />
				<p class="info">广东河源正宗农家野菜产地直销送礼首选绿色天然有机蔬菜</p>
				<div>
					<p class="goods_price">¥
						<a>11.00</a>
					</p>
					<p class="goods_num">x
						<a>1</a>
					</p>
				</div>
			</div>

			<div class="content">
				<img src="../../img/goods1.jpg" class="goods_img" />
				<p class="info">广东河源正宗农家野菜产地直销送礼首选绿色天然有机蔬菜</p>
				<div>
					<p class="goods_price">¥
						<a>11.00</a>
					</p>
					<p class="goods_num">x
						<a>1</a>
					</p>
				</div>
			</div>

			<p class="trans_price">运费<i class="iconfont icon-zhuyi"></i><span class="sp1">（含按重量计算的商品）</span><span class="sp2 right">¥<a>11.00</a></span></p>

			<div class="message">
				<label for="">留言</label>
				<input type="" name="" id="" value="" placeholder="给卖家留言" /><br />
				<label for="">微信号</label>
				<input type="" name="" id="" value="" placeholder="方便卖家与你联系" />
			</div>

			<p class="shop_total">共
				<a class="goods_num">1</a>件商品 合计：<span>¥</span>
				<a class="shop_price">11.00</a>
			</p>
		</section>

		<!--底部结算栏-->
		<footer>
			<div class="compute">
				<p class="p1">应付总额: <span>¥</span>
					<a>666.66</a>
				</p>
				<p class="p2">共
					<a class="total_num">4</a>件商品</p>
			</div>
			<span class="btn">
				<a href="cashDesk.html">提交订单</a>
			</span>
		</footer>
	</body>

</html>